.bg-container-match-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 20px;
  border-radius: 15px;
  margin: 25px;
  color: #ffffff;
  font-family: Bree Serif;
  width: 100vw;
}

.match-card-image {
  height: 200px;
  width: 150px;
}

@media (min-width: 768px) {
  .bg-container-match-card {
    width: 29%;
  }
}
